[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
requests = "*"
"bs4" = "*"
wheel = "*"
lxml = "*"
"beautifulsoup4" = "*"

[dev-packages]

[requires]
python_version = "3.7"
